{% extends '_layouts/detail-entry.njk' %}
{% set members = data.members[3] %}

{% block page_title %}Blog entry title{% endblock %}

{% block description %}Blog entry description.{% endblock %}

{% block story %}
  <h1> {{member.name}} </h1>
  <h5> {{member.text}} </h5>
{% endblock %}