<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="/img/discs/{{ discography.image }}" alt="album cover" style="width:100%">
    <div class="card-body">
      <h5 class="card-title"> {{discography.title }} </h5>
      <p class="card-text"> {{ discography.year }}</p>
    </div>
  </div>
   <div class="card">
    <img class="card-img-top" src="/img/discs/{{ discography.image }}" alt="album cover" style="width:100%">
    <div class="card-body">
      <h5 class="card-title"> {{discography.title }} </h5>
      <p class="card-text"> {{ discography.year }}</p>
    </div>
  </div>
   <div class="card">
    <img class="card-img-top" src="/img/discs/{{ discography.image }}" alt="album cover" style="width:100%">
    <div class="card-body">
      <h5 class="card-title"> {{discography.title }} </h5>
      <p class="card-text"> {{ discography.year }}</p>
    </div>
  </div>
</div>


