<h3> Discography <h3> 
  <div class="row discography">
  {% for discography in data.discography %}
  <div class="col-sm-4">
    <div class="card mb-4">
      <img class="card-img-top img-fluid" src="img/discs/{{ discography.image }}" alt="album cover">
      <div class="card-body">
        <h5 class="card-title"> {{discography.title }} </h5>
        <p class="card-text"> {{ discography.year }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
