<div class="row">
  <div class="col-sm-12">
      <div class="jumbotron banner jumbotron-fluid text-center">
        <h1> "We're a bit flashy, but the music's not one big noise." </h1>
      </div>
  </div>
</div>