<div class="row">
<div class="card-deck">
<div class="card">
    <img class="card-img-top" src="/img/{{ members.imagebw }}" alt="freddie mercury" style="width:100%">
    <div class="card-body">
      <h5 class="card-title"> {{ members.name }} </h5>
      <p class="card-text"> {{ members.instruments }}</p>
    </div>
</div>
</div>
<div>