.jumbotron.banner {
    background: url(../img/queen-band-wallpaper-thin.jpg) no-repeat center;
    background-size: cover;
    color:rebeccapurple;
    padding-top: 12rem;

  h1,p {
      font-family: 'Cinzel', serif;
    } 
    
  }
  