.jumbotron.banner {
    background: url(../img\img/queen-band-wallpaper-thin.jpg) no-repeat center;
    background-size: cover;
    color:gold;
    padding-top: 12rem
  }
  
  .jumbotron {
    margin-bottom: 30px;
  }