.jumbotron.banner {
    background: url(../img/queen-live-on-stage.jpg) no-repeat center;
    background-size: cover;
    color:rebeccapurple;
    padding-top: 12rem;
    

  h1,p {
      font-family: 'Cinzel', serif;
      padding: 0px 0px 120px;
      color: white;
      text-shadow: 2px 2px 4px #000000;
  }
}
