h2 {
    font-family: 'Cinzel', serif;
    color: rgb(255,0,0);
    text-shadow: 2px 2px 2px whitesmoke;
    text-align: center;
    padding-bottom: 5px;
}

.members .card-text .card-title {
    font-family: 'EB Garamond', serif;
    color:black;
    text-align: left;
} 

.member-title {
    text-decoration: none;
}

div .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}